<section class="row">
  <div class="col-lg-12 stage-comparator-graph">
    <table class="table table-responsive table-borderless table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="stage-name">Stage</th>
          <th>Center-stage<br />to Blastzone</th>
          <th>Center-stage<br />to Ledge</th>
          <th>&nbsp;</th>
          <th>Ledge<br />to Blastzone</th>
          <th>Ledge<br />to Ceiling</th>
        </tr>
      </thead>
      <tbody>
        <tr class="mm">
          <td class="stage-name">Mementos</td>
          <td class="graph">
            <div class="blastzone r5"></div>
          </td>
          <td class="graph">
            <div class="stage r5"></div>
          </td>
          <td>MM</td>
          <td class="graph">
            <div class="off-stage r4"></div>
          </td>
          <td class="graph">
            <div class="ceiling r4"></div>
          </td>
        </tr>
        <tr class="ps2">
          <td class="stage-name">Pokemon Stadium 2</td>
          <td class="graph">
            <div class="blastzone r4"></div>
          </td>
          <td class="graph">
            <div class="stage r5"></div>
          </td>
          <td>PS2</td>
          <td class="graph">
            <div class="off-stage r3"></div>
          </td>
          <td class="graph">
            <div class="ceiling r1"></div>
          </td>
        </tr>
        <tr class="ps1">
          <td class="stage-name">Pokemon Stadium 1</td>
          <td class="graph">
            <div class="blastzone r4"></div>
          </td>
          <td class="graph">
            <div class="stage r4"></div>
          </td>
          <td>PS1</td>
          <td class="graph">
            <div class="off-stage r5"></div>
          </td>
          <td class="graph">
            <div class="ceiling r1"></div>
          </td>
        </tr>
        <tr class="kpl">
          <td class="stage-name">Kalos</td>
          <td class="graph">
            <div class="blastzone r4"></div>
          </td>
          <td class="graph">
            <div class="stage r2"></div>
          </td>
          <td>KPL</td>
          <td class="graph">
            <div class="off-stage r5"></div>
          </td>
          <td class="graph">
            <div class="ceiling r5"></div>
          </td>
        </tr>
        <tr class="fd">
          <td class="stage-name">Final Destination</td>
          <td class="graph">
            <div class="blastzone r3"></div>
          </td>
          <td class="graph">
            <div class="stage r2"></div>
          </td>
          <td>FD</td>
          <td class="graph">
            <div class="off-stage r4"></div>
          </td>
          <td class="graph">
            <div class="ceiling r1"></div>
          </td>
        </tr>
        <tr class="bf">
          <td class="stage-name">Battlefield</td>
          <td class="graph">
            <div class="blastzone r3"></div>
          </td>
          <td class="graph">
            <div class="stage r2"></div>
          </td>
          <td>BF</td>
          <td class="graph">
            <div class="off-stage r4"></div>
          </td>
          <td class="graph">
            <div class="ceiling r5"></div>
          </td>
        </tr>
        <tr class="upl">
          <td class="stage-name">Unova</td>
          <td class="graph">
            <div class="blastzone r3"></div>
          </td>
          <td class="graph">
            <div class="stage r3"></div>
          </td>
          <td>UPL</td>
          <td class="graph">
            <div class="off-stage r3"></div>
          </td>
          <td class="graph">
            <div class="ceiling r4"></div>
          </td>
        </tr>
        <tr class="tc">
          <td class="stage-name">Town &amp; City</td>
          <td class="graph">
            <div class="blastzone r2"></div>
          </td>
          <td class="graph">
            <div class="stage r3"></div>
          </td>
          <td>T&amp;C</td>
          <td class="graph">
            <div class="off-stage r1"></div>
          </td>
          <td class="graph">
            <div class="ceiling r5"></div>
          </td>
        </tr>
        <tr class="lc">
          <td class="stage-name">Lylat</td>
          <td class="graph">
            <div class="blastzone r2"></div>
          </td>
          <td class="graph">
            <div class="stage r2"></div>
          </td>
          <td>LC</td>
          <td class="graph">
            <div class="off-stage r1"></div>
          </td>
          <td class="graph">
            <div class="ceiling r3"></div>
          </td>
        </tr>
        <tr class="sv">
          <td class="stage-name">Smashville</td>
          <td class="graph">
            <div class="blastzone r2"></div>
          </td>
          <td class="graph">
            <div class="stage r1"></div>
          </td>
          <td>SV</td>
          <td class="graph">
            <div class="off-stage r4"></div>
          </td>
          <td class="graph">
            <div class="ceiling r4"></div>
          </td>
        </tr>
        <tr class="ys">
          <td class="stage-name">Yoshi's Story</td>
          <td class="graph">
            <div class="blastzone r1"></div>
          </td>
          <td class="graph">
            <div class="stage r1"></div>
          </td>
          <td>YS</td>
          <td class="graph">
            <div class="off-stage r4"></div>
          </td>
          <td class="graph">
            <div class="ceiling r2"></div>
          </td>
        </tr>
        <tr class="yib">
          <td class="stage-name">Yoshi's Island (Brawl)</td>
          <td class="graph">
            <div class="blastzone r1"></div>
          </td>
          <td class="graph">
            <div class="stage r1"></div>
          </td>
          <td>YI</td>
          <td class="graph">
            <div class="off-stage r1"></div>
          </td>
          <td class="graph">
            <div class="ceiling r2"></div>
          </td>
        </tr>
      </tbody>
      <caption></caption>
    </table>
  </div>
</section>