<section class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-borderless table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="th-sticky">Stage</th>
            <th>Center-stage<br />to Blastzone</th>
            <th>Center-stage<br />to Ledge</th>
            <th>&nbsp;</th>
            <th>Ledge<br />to Blastzone</th>
            <th>Ledge<br />to Ceiling</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let stage of displayData">
            <tr class="graph_{{stage.gameName}}">
              <th scope="row" class="th-sticky name">{{stage.name}}</th>
              <td class="td-graph">
                <div class="blastzone bin-{{stage.blastzoneWidth.bin}}" [ngStyle]="{'width.px': stage.blastzoneWidth.value}"></div>
              </td>
              <td class="td-graph">
                <div class="stagelength bin-{{stage.stageLength.bin}}" [ngStyle]="{'width.px': stage.stageLength.value}"></div>
              </td>
              <td>&nbsp;</td>
              <td class="td-graph">
                <div class="offstage bin-{{stage.offStageDistance.bin}}" [ngStyle]="{'width.px': stage.offStageDistance.value}"></div>
              </td>
              <td class="td-graph">
                <div class="ceiling bin-{{stage.ceilingHeight.bin}}" [ngStyle]="{'width.px': stage.ceilingHeight.value}"></div>
              </td>
            </tr>
          </ng-container>
          <!--tr class="mm">
            <th scope="row" class="th-sticky">Mementos</th>
            <td class="td-graph">
              <div class="blastzone r5"></div>
            </td>
            <td class="td-graph">
              <div class="stage r5"></div>
            </td>
            <td>MM</td>
            <td class="td-graph">
              <div class="off-stage r4"></div>
            </td>
            <td class="td-graph">
              <div class="ceiling r4"></div>
            </td>
          </tr>
          <tr class="ps2">
            <th scope="row" class="th-sticky">Pokemon Stadium 2</th>
            <td class="td-graph">
              <div class="blastzone r4"></div>
            </td>
            <td class="td-graph">
              <div class="stage r5"></div>
            </td>
            <td>PS2</td>
            <td class="td-graph">
              <div class="off-stage r3"></div>
            </td>
            <td class="td-graph">
              <div class="ceiling r1"></div>
            </td>
          </tr>
          <tr class="ps1">
            <th scope="row" class="th-sticky">Pokemon Stadium 1</th>
            <td class="td-graph">
              <div class="blastzone r4"></div>
            </td>
            <td class="td-graph">
              <div class="stage r4"></div>
            </td>
            <td>PS1</td>
            <td class="td-graph">
              <div class="off-stage r5"></div>
            </td>
            <td class="td-graph">
              <div class="ceiling r1"></div>
            </td>
          </tr>
          <tr class="kpl">
            <th scope="row" class="th-sticky">Kalos</th>
            <td class="td-graph">
              <div class="blastzone r4"></div>
            </td>
            <td class="td-graph">
              <div class="stage r2"></div>
            </td>
            <td>KPL</td>
            <td class="td-graph">
              <div class="off-stage r5"></div>
            </td>
            <td class="td-graph">
              <div class="ceiling r5"></div>
            </td>
          </tr>
          <tr class="fd">
            <th scope="row" class="th-sticky">Final Destination</th>
            <td class="td-graph">
              <div class="blastzone r3"></div>
            </td>
            <td class="td-graph">
              <div class="stage r2"></div>
            </td>
            <td>FD</td>
            <td class="td-graph">
              <div class="off-stage r4"></div>
            </td>
            <td class="td-graph">
              <div class="ceiling r1"></div>
            </td>
          </tr>
          <tr class="bf">
            <th scope="row" class="th-sticky">Battlefield</th>
            <td class="td-graph">
              <div class="blastzone r3"></div>
            </td>
            <td class="td-graph">
              <div class="stage r2"></div>
            </td>
            <td>BF</td>
            <td class="td-graph">
              <div class="off-stage r4"></div>
            </td>
            <td class="td-graph">
              <div class="ceiling r5"></div>
            </td>
          </tr>
          <tr class="upl">
            <th scope="row" class="th-sticky">Unova</th>
            <td class="td-graph">
              <div class="blastzone r3"></div>
            </td>
            <td class="td-graph">
              <div class="stage r3"></div>
            </td>
            <td>UPL</td>
            <td class="td-graph">
              <div class="off-stage r3"></div>
            </td>
            <td class="td-graph">
              <div class="ceiling r4"></div>
            </td>
          </tr>
          <tr class="tc">
            <th scope="row" class="th-sticky">Town &amp; City</th>
            <td class="td-graph">
              <div class="blastzone r2"></div>
            </td>
            <td class="td-graph">
              <div class="stage r3"></div>
            </td>
            <td>T&amp;C</td>
            <td class="td-graph">
              <div class="off-stage r1"></div>
            </td>
            <td class="td-graph">
              <div class="ceiling r5"></div>
            </td>
          </tr>
          <tr class="lc">
            <th scope="row" class="th-sticky">Lylat</th>
            <td class="td-graph">
              <div class="blastzone r2"></div>
            </td>
            <td class="td-graph">
              <div class="stage r2"></div>
            </td>
            <td>LC</td>
            <td class="td-graph">
              <div class="off-stage r1"></div>
            </td>
            <td class="td-graph">
              <div class="ceiling r3"></div>
            </td>
          </tr>
          <tr class="sv">
            <th scope="row" class="th-sticky">Smashville</th>
            <td class="td-graph">
              <div class="blastzone r2"></div>
            </td>
            <td class="td-graph">
              <div class="stage r1"></div>
            </td>
            <td>SV</td>
            <td class="td-graph">
              <div class="off-stage r4"></div>
            </td>
            <td class="td-graph">
              <div class="ceiling r4"></div>
            </td>
          </tr>
          <tr class="ys">
            <th scope="row" class="th-sticky">Yoshi's Story</th>
            <td class="td-graph">
              <div class="blastzone r1"></div>
            </td>
            <td class="td-graph">
              <div class="stage r1"></div>
            </td>
            <td>YS</td>
            <td class="td-graph">
              <div class="off-stage r4"></div>
            </td>
            <td class="td-graph">
              <div class="ceiling r2"></div>
            </td>
          </tr>
          <tr class="yib">
            <th scope="row" class="th-sticky">Yoshi's Island (Brawl)</th>
            <td class="td-graph">
              <div class="blastzone r1"></div>
            </td>
            <td class="td-graph">
              <div class="stage r1"></div>
            </td>
            <td>YI</td>
            <td class="td-graph">
              <div class="off-stage r1"></div>
            </td>
            <td class="td-graph">
              <div class="ceiling r2"></div>
            </td>
          </tr-->
        </tbody>
        <caption></caption>
      </table>
    </div>
  </div>
</section>