<section role="region" class="graph" aria-label="Graph">
  <div class="row legend">
    <div class="col-6 col-sm-4 col-xl-2">
      <label><strong>Size (within selected group):</strong></label>
    </div>
    <div class="col-6 col-sm-4 col-xl-2">
      <div class="legend-bin bin-5 d-inline-block"></div>
      <label>Larger</label>
    </div>
    <div class="col-6 col-sm-4 col-xl-2">
      <div class="legend-bin bin-4 d-inline-block"></div>
      <label>Large</label>
    </div>
    <div class="col-6 col-sm-4 col-xl-2">
      <div class="legend-bin bin-3 d-inline-block"></div>
      <label>Medium</label>
    </div>
    <div class="col-6 col-sm-4 col-xl-2">
      <div class="legend-bin bin-2 d-inline-block"></div>
      <label>Small</label>
    </div>
    <div class="col-6 col-sm-4 col-xl-2">
      <div class="legend-bin bin-1 d-inline-block"></div>
      <label>Smaller</label>
    </div>
  </div>
  <div class="graph-header">
    {{ids.label}}
  </div>
  <div class="row graph-rows">
    <ng-container *ngFor="let stage of displayData">
    <div class="col-12 graph-row graph_{{stage.gameName}}">
      <div class="row name-row">
        <div class="col-12">
          <div class="name-bg">
            <div class="name-container">
              <span class="name">{{stage.name}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row bar-row">
        <div class="col-12">
          <div class="bar-bg">
            <div class="bar-container">
              <div class="bar bin-{{stage[ids.property].bin}}" [ngStyle]="{'width': stage[ids.property].percent + '%'}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </ng-container>
  </div>
</section>
