<div class="card">
  <div class="card-header">
    <h2 id="stage-select-header"><a name="stage-select">Stage Selection</a></h2>
  </div>
  <div class="card-body">
    <form role="form" aria-labelledby="stage-select-header" [formGroup]="selectionForm" (ngSubmit)="submitSelected()">
      <ng-container *ngFor="let rootSection of rootSections">
        <div role="region" [attr.aria-labelledby]="'stage-select-' + rootSection.attribute + '-header'" *ngIf="rootSection.show" class="form-group {{rootSection.attribute}}">
          <div class="card">
            <div class="card-header">
              <button type="button" class="h3 btn btn-link stage-select-root-section-header" role="heading" id="stage-select-{{rootSection.attribute}}-header" [class.collapsed]="!rootSection.expand" data-toggle="collapse"
                [attr.data-target]="'#stage-select-' + rootSection.attribute + '-collapse'"
                [attr.aria-expanded]="rootSection.expand"
                [attr.aria-controls]="'stage-select-' + rootSection.attribute + '-collapse'">
                <span class="collapse-icon"></span> {{rootSection.title}}
              </button>
            </div>
            <div id="stage-select-{{rootSection.attribute}}-collapse" class="collapse" [class.show]="rootSection.expand"
              [attr.aria-labelledby]="'stage-select-' + rootSection.attribute + '-header'">
              <div class="card-body">
                <div *ngIf="rootSection.id==='tourneyPresence'" class="note">
                  <p>Tournament legality is based on appearance in <a href="https://www.redbull.com/us-en/pgru-fall-2019" target="_blank">PGRU</a> S-tier and A-tier tournaments during the 2019 Fall and 2020 Spring seasons.</p>
                </div>
                <div class="row shortcuts">
                  <div class="form-group form-inline">
                    <div class="col-sm-12">
                      <button type="button" class="btn btn-secondary" id="{{rootSection.id + separator}}all" name="all" (click)="updateAll(rootSection.id, true)">Select All</button>
                      <button type="button" class="btn btn-secondary" id="{{rootSection.id + separator}}none"
                        name="none" (click)="updateAll(rootSection.id, false)">Select None</button>
                    </div>
                  </div>
                </div>
                <ng-container *ngFor="let childSection of rootSection.sections">
                  <ng-container *ngIf="childSection.show">
                    <div class="row classification {{childSection.attribute}}">
                      <div class="col-sm-12">
                        <h4 class="classification-header">{{childSection.title}}</h4>
                      </div>
                      <div class="form-group form-inline">
                        <ng-container *ngFor="let stage of classifiedStages[rootSection.id][childSection.id]">
                          <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="form-check">
                              <input class="form-check-input" id="{{rootSection.id + separator + stage.gameName}}" formControlName="{{stage.gameName}}" name="{{stage.gameName}}" type="checkbox" [checked]="selectionForm.get(stage.gameName).value" />
                              <label class="form-check-label" for="{{rootSection.id + separator + stage.gameName}}">{{stage.name}}</label>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="form-group stage-select-submit">
        <div *ngIf="errorActive" class="row">
          <div class="col-12">
            <div *ngIf="parentError.active" class="alert alert-error error">{{parentError.message}}</div>
            <div *ngIf="errors.noStages.active" class="alert alert-error error">{{errors.noStages.message}}</div>
            <div *ngIf="!selectionForm.valid" class="alert alert-error error">Please select at least one stage.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2" [disabled]="!selectionForm.valid">Update</button>
        <div *ngIf="showUpdateSuccess" class="alert alert-success update-success" role="alert">
          Update succeeded! View the results below.
        </div>
      </div>
    </form>
  </div>
</div>