<div class="card">
  <div class="card-header">
    <h2>Stage Selection</h2>
  </div>
  <div class="card-body">
    <form [formGroup]="stageGroup">
      <div *ngIf="tourneyPresence.show" class="form-group by-tourney">
        <h3>{{tourneyPresence.title}}</h3>
        <ng-container *ngFor="let section of tourneyPresence.sections">
          <ng-container *ngIf="section.show">
            <div class="card tourney-{{section.attribute}}">
              <div class="card-header">
                <h4 class="btn btn-link" data-toggle="collapse"
                  [attr.data-target]="'#stage-select-' + section.attribute + '-collapse'" [attr.aria-expanded]="tourneyPresence.expand"
                  [attr.aria-controls]="'stage-select-' + section.attribute + '-collapse'">
                  <span class="collapse-icon"></span> {{section.title}}
                </h4>
              </div>
              <div id="stage-select-{{section.attribute}}-collapse" class="collapse" [class.show]="tourneyPresence.expand" [attr.aria-labelledby]="'stage-select-' + section.attribute + '-header'">
                <div class="card-body row">
                  <div class="form-group form-inline">
                    <ng-container *ngFor="let stage of classifiedStages.tourneyPresence[section.id]">
                      <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="form-check">
                          <input class="form-check-input" id="{{stage.gameName}}" type="checkbox" />
                          <label class="form-check-label" for="{{stage.gameName}}">{{stage.name}}</label>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="form-group">
        <h3>By Series</h3>
          <div class="card">
            <div id="stage-select-common-counter-header" class="card-header">
              <h4 class="btn btn-link collapsed" data-toggle="collapse" data-target="#stage-select-common-counter-collapse"
                aria-expanded="false" aria-controls="stage-select-common-counter-collapse">
                <span class="collapse-icon"></span> All Stages
              </h4>
            </div>
            <div id="stage-select-common-counter-collapse" class="collapse" aria-labelledby="stage-select-common-counter-header">
              <div class="card-body row">
                <div class="form-group form-inline">
                  <ng-container *ngFor="let stage of stages">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="form-check">
                        <input class="form-check-input" id="{{stage.gameName}}" type="checkbox" />
                        <label class="form-check-label" for="{{stage.gameName}}">{{stage.name}}</label>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2">Update</button>
      </div>
    </form>
  </div>
</div>