<div class="card">
  <div class="card-header">
    <h2>Stage Selection</h2>
  </div>
  <div class="card-body">
    <form [formGroup]="stageGroup">
      <div class="card">
        <div id="stage-select-common-starter-header" class="card-header">
          <h3 class="btn btn-link" data-toggle="collapse" data-target="#stage-select-common-starter-collapse"
            aria-expanded="true" aria-controls="stage-select-common-starter-collapse">
              <span class="collapse-icon"></span> Common Starters
          </h3>
        </div>
        <div id="stage-select-common-starter-collapse" class="collapse show" aria-labelledby="stage-select-common-starter-header">
          <div class="card-body">
            <div class="form-group form-inline mx-n3 mb-0">
              <div class="form-check form-check px-3 pb-3">
                <input class="form-check-input" id="battlefield" type="checkbox" />
                <label class="form-check-label" for="battlefield">Battlefield</label>
              </div>
              <div class="form-check form-check px-3 pb-3">
                <input class="form-check-input" id="final-destination" type="checkbox" />
                <label class="form-check-label" for="final-destination">Final Destination</label>
              </div>
              <div class="form-check form-check px-3 pb-3">
                <input class="form-check-input" id="pokemon-stadium" type="checkbox" />
                <label class="form-check-label" for="pokemon-stadium">Pokemon Stadium</label>
              </div>
              <div class="form-check form-check px-3 pb-3">
                <input class="form-check-input" id="smashville" type="checkbox" />
                <label class="form-check-label" for="smashville">Smashville</label>
              </div>
              <div class="form-check form-check px-3 pb-3">
                <input class="form-check-input" id="town-city" type="checkbox" />
                <label class="form-check-label" for="town-city">Town &amp; City</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="stage-select-common-counter-header" class="card-header">
          <h3 class="btn btn-link collapsed" data-toggle="collapse" data-target="#stage-select-common-counter-collapse"
            aria-expanded="false" aria-controls="stage-select-common-counter-collapse">
              <span class="collapse-icon"></span> Common Counterpicks
          </h3>
        </div>
        <div id="stage-select-common-counter-collapse" class="collapse" aria-labelledby="stage-select-common-counter-header" >
          <div class="card-body">
            <div class="form-group form-inline mx-n3 mb-0">
              <div class="form-check form-check px-3 pb-3">
                <input class="form-check-input" id="battlefield" type="checkbox" />
                <label class="form-check-label" for="battlefield">Battlefield</label>
              </div>
              <div class="form-check form-check px-3 pb-3">
                <input class="form-check-input" id="final-destionation" type="checkbox" />
                <label class="form-check-label" for="final-destination">Final Destination</label>
              </div>
              <div class="form-check form-check px-3 pb-3">
                <input class="form-check-input" id="pokemon-stadium" type="checkbox" />
                <label class="form-check-label" for="pokemon-stadium">Pokemon Stadium</label>
              </div>
              <div class="form-check form-check px-3 pb-3">
                <input class="form-check-input" id="smashville" type="checkbox" />
                <label class="form-check-label" for="smashville">Smashville</label>
              </div>
              <div class="form-check form-check px-3 pb-3">
                <input class="form-check-input" id="town-city" type="checkbox" />
                <label class="form-check-label" for="town-city">Town &amp; City</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2">Update</button>
      </div>
    </form>
  </div>
</div>