<section class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table *ngIf="dataPresent" class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="th-sticky">Stage Name</th>
            <th>Blastzone Width</th>
            <th>Stage Length</th>
            <th>Off-Stage Distance</th>
            <th>Ceiling Height</th>
          </tr>
        </thead>
        <tbody>
          <tr class="stats">
            <th class="th-sticky">Min - Max (Range)</th>
            <td class="blastzone"><span class="min">{{displayData.ranges.blastzoneWidth.min}}</span> - <span
                class="max">{{displayData.ranges.blastzoneWidth.max}}</span> (<span
                class="range">{{displayData.ranges.blastzoneWidth.range}}</span>)</td>
            <td class="stagelength"><span class="min">{{displayData.ranges.stageLength.min}}</span> - <span
                class="max">{{displayData.ranges.stageLength.max}}</span> (<span
                class="range">{{displayData.ranges.stageLength.range}}</span>)</td>
            <td class="offstage"><span class="min">{{displayData.ranges.offStageDistance.min}}</span> - <span
                class="max">{{displayData.ranges.offStageDistance.max}}</span> (<span
                class="range">{{displayData.ranges.offStageDistance.range}}</span>)</td>
            <td class="ceiling"><span class="min">{{displayData.ranges.ceilingHeight.min}}</span> - <span
                class="max">{{displayData.ranges.ceilingHeight.max}}</span> (<span
                class="range">{{displayData.ranges.ceilingHeight.range}}</span>)</td>
          </tr>
          <ng-container *ngFor="let stage of displayData.dimensions">
            <tr class="texttable_{{stage.gameName}}">
              <th class="th-sticky name">{{stage.name}}</th>
              <td class="blastzone">{{stage.blastzoneWidth}}</td>
              <td class="stagelength">{{stage.stageLength}}</td>
              <td class="offstage">{{stage.offStageDistance}}</td>
              <td class="ceiling">{{stage.ceilingHeight}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</section>