<section class="row">
  <div class="col-lg-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Blastzone</th>
          <th>Stage</th>
          <th>Off-stage</th>
          <th>Ceiling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Range</td>
          <td>220 - 260</td>
          <td>68 - 100</td>
          <td>148 - 165</td>
          <td>180 - 195</td>
        </tr>
        <tr class="mm">
          <td>Mementos</td>
          <td>
            Biggest
          </td>
          <td>
            Longest
          </td>
          <td>
            Far
          </td>
          <td>
            High
          </td>
        </tr>
        <tr class="ps2">
          <td>Pokemon Stadium 2</td>
          <td>
            Big
          </td>
          <td>
            Longer
          </td>
          <td>
            Mid
          </td>
          <td>
            Lowest
          </td>
        </tr>
        <tr class="ps1">
          <td>Pokemon Stadium 1</td>
          <td>
            Big
          </td>
          <td>
            Long
          </td>
          <td>
            Farther
          </td>
          <td>
            Lowest
          </td>
        </tr>
        <tr class="kpl">
          <td>Kalos</td>
          <td>
            Big
          </td>
          <td>
            Short
          </td>
          <td>
            Farthest
          </td>
          <td>
            Higher
          </td>
        </tr>
        <tr class="fd">
          <td>Final Destination</td>
          <td>
            Mid
          </td>
          <td>
            Short
          </td>
          <td>
            Far
          </td>
          <td>
            Lowest
          </td>
        </tr>
        <tr class="bf">
          <td>Battlefield</td>
          <td>
            Mid
          </td>
          <td>
            Short
          </td>
          <td>
            Far
          </td>
          <td>
            Higher
          </td>
        </tr>
        <tr class="upl">
          <td>Unova</td>
          <td>
            Mid
          </td>
          <td>
            Mid
          </td>
          <td>
            Mid
          </td>
          <td>
            High
          </td>
        </tr>
        <tr class="tc">
          <td>Town & City</td>
          <td>
            Small
          </td>
          <td>
            Mid
          </td>
          <td>
            Closest
          </td>
          <td>
            Highest
          </td>
        </tr>
        <tr class="lc">
          <td>Lylat</td>
          <td>
            Small
          </td>
          <td>
            Short
          </td>
          <td>
            Closer
          </td>
          <td>
            Mid
          </td>
        </tr>
        <tr class="sv">
          <td>Smashville</td>
          <td>
            Small
          </td>
          <td>
            Shorter
          </td>
          <td>
            Far
          </td>
          <td>
            High
          </td>
        </tr>
        <tr class="ys">
          <td>Yoshi's Story</td>
          <td>
            Smaller
          </td>
          <td>
            Shortest
          </td>
          <td>
            Far
          </td>
          <td>
            Low
          </td>
        </tr>
        <tr class="yib">
          <td>Yoshi's Island (Brawl)</td>
          <td>
            Smallest
          </td>
          <td>
            Shorter
          </td>
          <td>
            Closer
          </td>
          <td>
            Low
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>