<section class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="th-sticky">Stage Name</th>
            <th>Blastzone Width</th>
            <th>Stage Length</th>
            <th>Off-Stage Distance</th>
            <th>Ceiling Height</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="th-sticky">Range</th>
            <td>220 - 260</td>
            <td>68 - 100</td>
            <td>148 - 165</td>
            <td>180 - 195</td>
          </tr>
          <tr class="mm">
            <th class="th-sticky" scope="row">Mementos</th>
            <td>
              Biggest
            </td>
            <td>
              Longest
            </td>
            <td>
              Far
            </td>
            <td>
              High
            </td>
          </tr>
          <tr class="ps2">
            <th class="th-sticky" scope="row">Pokemon Stadium 2</th>
            <td>
              Big
            </td>
            <td>
              Longer
            </td>
            <td>
              Mid
            </td>
            <td>
              Lowest
            </td>
          </tr>
          <tr class="ps1">
            <th class="th-sticky" scope="row">Pokemon Stadium 1</th>
            <td>
              Big
            </td>
            <td>
              Long
            </td>
            <td>
              Farther
            </td>
            <td>
              Lowest
            </td>
          </tr>
          <tr class="kpl">
            <th class="th-sticky" scope="row">Kalos</th>
            <td>
              Big
            </td>
            <td>
              Short
            </td>
            <td>
              Farthest
            </td>
            <td>
              Higher
            </td>
          </tr>
          <tr class="fd">
            <th class="th-sticky" scope="row">Final Destination</th>
            <td>
              Mid
            </td>
            <td>
              Short
            </td>
            <td>
              Far
            </td>
            <td>
              Lowest
            </td>
          </tr>
          <tr class="bf">
            <th class="th-sticky" scope="row">Battlefield</th>
            <td>
              Mid
            </td>
            <td>
              Short
            </td>
            <td>
              Far
            </td>
            <td>
              Higher
            </td>
          </tr>
          <tr class="upl">
            <th class="th-sticky" scope="row">Unova</th>
            <td>
              Mid
            </td>
            <td>
              Mid
            </td>
            <td>
              Mid
            </td>
            <td>
              High
            </td>
          </tr>
          <tr class="tc">
            <th class="th-sticky" scope="row">Town & City</th>
            <td>
              Small
            </td>
            <td>
              Mid
            </td>
            <td>
              Closest
            </td>
            <td>
              Highest
            </td>
          </tr>
          <tr class="lc">
            <th class="th-sticky" scope="row">Lylat</th>
            <td>
              Small
            </td>
            <td>
              Short
            </td>
            <td>
              Closer
            </td>
            <td>
              Mid
            </td>
          </tr>
          <tr class="sv">
            <th class="th-sticky" scope="row">Smashville</th>
            <td>
              Small
            </td>
            <td>
              Shorter
            </td>
            <td>
              Far
            </td>
            <td>
              High
            </td>
          </tr>
          <tr class="ys">
            <th class="th-sticky" scope="row">Yoshi's Story</th>
            <td>
              Smaller
            </td>
            <td>
              Shortest
            </td>
            <td>
              Far
            </td>
            <td>
              Low
            </td>
          </tr>
          <tr class="yib">
            <th class="th-sticky" scope="row">Yoshi's Island (Brawl)</th>
            <td>
              Smallest
            </td>
            <td>
              Shorter
            </td>
            <td>
              Closer
            </td>
            <td>
              Low
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>