<!-- Navigation -->
<nav class="navbar-desktop navbar navbar-dark">
  <div class="container">
    <a class="aria-skip-link" [href]="ariaSkipPath">Skip to main content</a>
  </div>
  <div role="banner" class="container-fluid brand">
    <div class="brand-desktop container">
      <a class="navbar-brand" [routerLink]="'/stage-comparison'">{{title}}</a>
    </div>
  </div>
  <div class="container-fluid nav-container nav-collapse collapse">
    <ul role="navigation" class="container navbar-nav justify-content-around">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/stage-comparison'">Stage Comparison</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">(More tools to come)</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar-mobile navbar navbar-dark justify-content-end">
  <div class="container-fluid">
    <a class="aria-skip-link" [href]="ariaSkipPath">Skip to main content</a>
  </div>
  <div role="banner" class="brand container-fluid d-flex flex-row justify-content-between">
    <a class="navbar-brand" [routerLink]="'/stage-comparison'">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ssbu-header-nav"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div id="ssbu-header-nav" class="nav-container nav-collapse collapse">
    <ul class="navbar-nav justify-content-around">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/stage-comparison'">Stage Comparison</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">(More tools to come)</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Page Content -->
<section id="main" [class.loading]="isLoading" role="main" name="main">
  <ng-container *ngIf="isLoading">
    <h1 class="text-center">Loading...</h1>
  </ng-container>
  <router-outlet></router-outlet>
</section>

<!-- Footer -->
<footer role="contentinfo" class="footer">
  <div class="container-fluid">
    <div class="container px-0 px-sm-3">
      <a class="footer-brand" href="/">SSBU Tools</a>
      <div class="row">
        <div class="col-lg-6">
          <p>Site developed by Raynald Mirville &ndash; <a href="https://raynaldmirville.com" target="_blank">Portfolio</a> | <a href="https://github.com/rmirville/" target="_blank">GitHub</a></p>
          <p>Stage data provided by Ruben &ndash; <a href="https://twitter.com/Ruben_dal" target="_blank"><i class="fab fa-twitter"></i> Twitter</a> | <a href="https://github.com/rubendal" target="_blank">GitHub</a></p>
        </div>
        <div class="col-lg-6">
          <p>This site works best on the most updated versions of <a href="https://www.google.com/chrome/index.html" target="_blank">Chrome</a>, <a href="https://www.microsoft.com/en-us/edge" target="_blank">Edge</a>, <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="https://www.microsoft.com/en-us/download/details.aspx?id=41628" target="_blank">Internet Explorer</a>, and <a href="https://www.apple.com/safari/">Safari</a>.</p>
        </div>
        <div class="col-12">
          <p>Copyright &copy; 2021 SSBUTools.com</p>
          <p>This website is not affiliated with Nintendo Co. Ltd., Sora Co. Ltd., Bandai Namco Entertainment Inc., or any of their subsidiaries.</p>
        </div>
      </div>
    </div>
  </div>
</footer>