<!-- Navigation -->
<nav class="navbar-desktop navbar navbar-dark">
  <div class="container">
    <a class="aria-skip-link" [href]="ariaSkipPath">Skip to main content</a>
  </div>
  <div role="banner" class="container-fluid brand">
    <div class="brand-desktop container">
      <a class="navbar-brand" [routerLink]="'/stage-comparison'">Super Smash Bros. Ultimate Tools</a>
    </div>
  </div>
  <div class="container-fluid nav-container nav-collapse collapse">
    <ul role="navigation" class="container navbar-nav justify-content-around">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/stage-comparison'">Stage Comparison</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">(More tools to come)</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar-mobile navbar navbar-dark justify-content-end">
  <div class="container-fluid">
    <a class="aria-skip-link" [href]="ariaSkipPath">Skip to main content</a>
  </div>
  <div role="banner" class="brand container-fluid d-flex flex-row justify-content-between">
    <a class="navbar-brand" [routerLink]="'/stage-comparison'">SSBU Tools</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ssbu-header-nav"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div id="ssbu-header-nav" class="nav-container nav-collapse collapse">
    <ul class="navbar-nav justify-content-around">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/stage-comparison'">Stage Comparison</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">(More tools to come)</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Page Content -->
<section id="main" role="main" name="main">
  <router-outlet></router-outlet>
</section>