<section role="region" class="row" aria-label="Numbers">
  <div class="col-lg-12">
    <p><span class="badge badge-dark">Note</span> All values are rounded to the nearest integer.</p>
    <div *ngIf="dataPresent" class="container ssbu-table" tabindex="0">
      <div class="row header">
        <div class="col-6 col-lg-4 name">
          <div class="content-wrapper">
            <span class="content">Stage</span>
          </div>
        </div>
        <div class="col-6 col-lg-8 value">
          <div class="content-wrapper">
            <span class="content">{{ids.label}}</span>
          </div>
        </div>
      </div>

      <div class="row stats">
        <div class="col-6 col-lg-4 name">
          <div class="content-wrapper">
            <span class="content">Min - Max (Range)</span>
          </div>
        </div>
        <div class="col-6 col-lg-8 value">
          <div class="content-wrapper">
            <span class="content">
              <span class="min">{{displayData.ranges[ids.property].min}}</span>
              - <span class="max">{{displayData.ranges[ids.property].max}}</span>
              (<span class="range">{{displayData.ranges[ids.property].range}}</span>)
            </span>
          </div>
        </div>
      </div>

      <ng-container *ngFor="let stage of displayData.dimensions">
        <div class="row entry numtable_{{stage.gameName}}">
          <div class="col-6 col-lg-4 name">
            <div class="content-wrapper">
              <span class="content">{{stage.name}}</span>
            </div>
          </div>
          <div class="col-6 col-lg-8 value">
            <div class="content-wrapper">
              <span class="content" [class.highlight]="stage[ids.property].highlight">{{stage[ids.property].value}}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>