<section class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="th-sticky">Stage Name</th>
            <th>Blastzone Width</th>
            <th>Stage Length</th>
            <th>Off-Stage Distance</th>
            <th>Ceiling Height</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="th-sticky">Range</th>
            <td>220 - 260</td>
            <td>68 - 100</td>
            <td>148 - 165</td>
            <td>180 - 195</td>
          </tr>
          <tr class="mm">
            <th class="th-sticky">Mementos</th>
            <td>
              260
            </td>
            <td>
              100
            </td>
            <td>
              160
            </td>
            <td>
              190
            </td>
          </tr>
          <tr class="ps2">
            <th class="th-sticky">Pokemon Stadium 2</th>
            <td>
              250
            </td>
            <td>
              94
            </td>
            <td>
              156
            </td>
            <td>
              180
            </td>
          </tr>
          <tr class="ps1">
            <th class="th-sticky">Pokemon Stadium 1</th>
            <td>
              250
            </td>
            <td>
              88
            </td>
            <td>
              162
            </td>
            <td>
              180
            </td>
          </tr>
          <tr class="kpl">
            <th class="th-sticky">Kalos</th>
            <td>
              245
            </td>
            <td>
              80
            </td>
            <td>
              165
            </td>
            <td>
              192
            </td>
          </tr>
          <tr class="fd">
            <th class="th-sticky">Final Destination</th>
            <td>
              240
            </td>
            <td>
              80
            </td>
            <td>
              160
            </td>
            <td>
              180
            </td>
          </tr>
          <tr class="bf">
            <th class="th-sticky">Battlefield</th>
            <td>
              240
            </td>
            <td>
              80
            </td>
            <td>
              160
            </td>
            <td>
              192
            </td>
          </tr>
          <tr class="upl">
            <th class="th-sticky">Unova</th>
            <td>
              237
            </td>
            <td>
              82
            </td>
            <td>
              155
            </td>
            <td>
              190
            </td>
          </tr>
          <tr class="tc">
            <th class="th-sticky">Town & City</th>
            <td>
              230
            </td>
            <td>
              82
            </td>
            <td>
              148
            </td>
            <td>
              195
            </td>
          </tr>
          <tr class="lc">
            <th class="th-sticky">Lylat</th>
            <td>
              230
            </td>
            <td>
              80
            </td>
            <td>
              150
            </td>
            <td>
              188
            </td>
          </tr>
          <tr class="sv">
            <th class="th-sticky">Smashville</th>
            <td>
              230
            </td>
            <td>
              70
            </td>
            <td>
              160
            </td>
            <td>
              190
            </td>
          </tr>
          <tr class="ys">
            <th class="th-sticky">Yoshi's Story</th>
            <td>
              227
            </td>
            <td>
              68
            </td>
            <td>
              159
            </td>
            <td>
              184
            </td>
          </tr>
          <tr class="yib">
            <th class="th-sticky">Yoshi's Island (Brawl)</th>
            <td>
              220
            </td>
            <td>
              70
            </td>
            <td>
              150
            </td>
            <td>
              185
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>