<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-title">Stage Comparison</h1>
    </div>
  </div>
  <section class="row">
    <div class="col-lg-12">
      <h2>Stage Boundaries</h2>
      <table class="table boundary">
        <thead>
          <tr>
            <th>Stage</th>
            <th>Center-stage<br />to Blastzone</th>
            <th>Center-stage<br />to Ledge</th>
            <th>&nbsp;</th>
            <th>Ledge<br />to Blastzone</th>
            <th>Ledge<br />to Ceiling</th>
            <th>Stage</th>
          </tr>
        </thead>
        <tbody>
          <tr class="mm">
            <td>Mementos</td>
            <td>
              <div class="blastzone r5"></div>
            </td>
            <td>
              <div class="stage r5"></div>
            </td>
            <td>MM</td>
            <td>
              <div class="off-stage r4"></div>
            </td>
            <td>
              <div class="ceiling r4"></div>
            </td>
            <td>Mementos</td>
          </tr>
          <tr class="ps2">
            <td>Pokemon Stadium 2</td>
            <td>
              <div class="blastzone r4"></div>
            </td>
            <td>
              <div class="stage r5"></div>
            </td>
            <td>PS2</td>
            <td>
              <div class="off-stage r3"></div>
            </td>
            <td>
              <div class="ceiling r1"></div>
            </td>
            <td>Pokemon Stadium 2</td>
          </tr>
          <tr class="ps1">
            <td>Pokemon Stadium 1</td>
            <td>
              <div class="blastzone r4"></div>
            </td>
            <td>
              <div class="stage r4"></div>
            </td>
            <td>PS1</td>
            <td>
              <div class="off-stage r5"></div>
            </td>
            <td>
              <div class="ceiling r1"></div>
            </td>
            <td>Pokemon Stadium 1</td>
          </tr>
          <tr class="kpl">
            <td>Kalos</td>
            <td>
              <div class="blastzone r4"></div>
            </td>
            <td>
              <div class="stage r2"></div>
            </td>
            <td>KPL</td>
            <td>
              <div class="off-stage r5"></div>
            </td>
            <td>
              <div class="ceiling r5"></div>
            </td>
            <td>Kalos</td>
          </tr>
          <tr class="fd">
            <td>Final Destination</td>
            <td>
              <div class="blastzone r3"></div>
            </td>
            <td>
              <div class="stage r2"></div>
            </td>
            <td>FD</td>
            <td>
              <div class="off-stage r4"></div>
            </td>
            <td>
              <div class="ceiling r1"></div>
            </td>
            <td>Final Destination</td>
          </tr>
          <tr class="bf">
            <td>Battlefield</td>
            <td>
              <div class="blastzone r3"></div>
            </td>
            <td>
              <div class="stage r2"></div>
            </td>
            <td>BF</td>
            <td>
              <div class="off-stage r4"></div>
            </td>
            <td>
              <div class="ceiling r5"></div>
            </td>
            <td>Battlefield</td>
          </tr>
          <tr class="upl">
            <td>Unova</td>
            <td>
              <div class="blastzone r3"></div>
            </td>
            <td>
              <div class="stage r3"></div>
            </td>
            <td>UPL</td>
            <td>
              <div class="off-stage r3"></div>
            </td>
            <td>
              <div class="ceiling r4"></div>
            </td>
            <td>Unova</td>
          </tr>
          <tr class="tc">
            <td>Town & City</td>
            <td>
              <div class="blastzone r2"></div>
            </td>
            <td>
              <div class="stage r3"></div>
            </td>
            <td>T&amp;C</td>
            <td>
              <div class="off-stage r1"></div>
            </td>
            <td>
              <div class="ceiling r5"></div>
            </td>
            <td>Town & City</td>
          </tr>
          <tr class="lc">
            <td>Lylat</td>
            <td>
              <div class="blastzone r2"></div>
            </td>
            <td>
              <div class="stage r2"></div>
            </td>
            <td>LC</td>
            <td>
              <div class="off-stage r1"></div>
            </td>
            <td>
              <div class="ceiling r3"></div>
            </td>
            <td>Lylat</td>
          </tr>
          <tr class="sv">
            <td>Smashville</td>
            <td>
              <div class="blastzone r2"></div>
            </td>
            <td>
              <div class="stage r1"></div>
            </td>
            <td>SV</td>
            <td>
              <div class="off-stage r4"></div>
            </td>
            <td>
              <div class="ceiling r4"></div>
            </td>
            <td>Smashville</td>
          </tr>
          <tr class="ys">
            <td>Yoshi's Story</td>
            <td>
              <div class="blastzone r1"></div>
            </td>
            <td>
              <div class="stage r1"></div>
            </td>
            <td>YS</td>
            <td>
              <div class="off-stage r4"></div>
            </td>
            <td>
              <div class="ceiling r2"></div>
            </td>
            <td>Yoshi's Story</td>
          </tr>
          <tr class="yib">
            <td>Yoshi's Island (Brawl)</td>
            <td>
              <div class="blastzone r1"></div>
            </td>
            <td>
              <div class="stage r1"></div>
            </td>
            <td>YI</td>
            <td>
              <div class="off-stage r1"></div>
            </td>
            <td>
              <div class="ceiling r2"></div>
            </td>
            <td>Yoshi's Island (Brawl)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="row">
    <div class="col-lg-12">
      <h2>Summary</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Blastzone</th>
            <th>Stage</th>
            <th>Off-stage</th>
            <th>Ceiling</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Range</td>
            <td>220 - 260</td>
            <td>68 - 100</td>
            <td>148 - 165</td>
            <td>180 - 195</td>
          </tr>
          <tr class="mm">
            <td>Mementos</td>
            <td>
              Biggest
            </td>
            <td>
              Longest
            </td>
            <td>
              Far
            </td>
            <td>
              High
            </td>
          </tr>
          <tr class="ps2">
            <td>Pokemon Stadium 2</td>
            <td>
              Big
            </td>
            <td>
              Longer
            </td>
            <td>
              Mid
            </td>
            <td>
              Lowest
            </td>
          </tr>
          <tr class="ps1">
            <td>Pokemon Stadium 1</td>
            <td>
              Big
            </td>
            <td>
              Long
            </td>
            <td>
              Farther
            </td>
            <td>
              Lowest
            </td>
          </tr>
          <tr class="kpl">
            <td>Kalos</td>
            <td>
              Big
            </td>
            <td>
              Short
            </td>
            <td>
              Farthest
            </td>
            <td>
              Higher
            </td>
          </tr>
          <tr class="fd">
            <td>Final Destination</td>
            <td>
              Mid
            </td>
            <td>
              Short
            </td>
            <td>
              Far
            </td>
            <td>
              Lowest
            </td>
          </tr>
          <tr class="bf">
            <td>Battlefield</td>
            <td>
              Mid
            </td>
            <td>
              Short
            </td>
            <td>
              Far
            </td>
            <td>
              Higher
            </td>
          </tr>
          <tr class="upl">
            <td>Unova</td>
            <td>
              Mid
            </td>
            <td>
              Mid
            </td>
            <td>
              Mid
            </td>
            <td>
              High
            </td>
          </tr>
          <tr class="tc">
            <td>Town & City</td>
            <td>
              Small
            </td>
            <td>
              Mid
            </td>
            <td>
              Closest
            </td>
            <td>
              Highest
            </td>
          </tr>
          <tr class="lc">
            <td>Lylat</td>
            <td>
              Small
            </td>
            <td>
              Short
            </td>
            <td>
              Closer
            </td>
            <td>
              Mid
            </td>
          </tr>
          <tr class="sv">
            <td>Smashville</td>
            <td>
              Small
            </td>
            <td>
              Shorter
            </td>
            <td>
              Far
            </td>
            <td>
              High
            </td>
          </tr>
          <tr class="ys">
            <td>Yoshi's Story</td>
            <td>
              Smaller
            </td>
            <td>
              Shortest
            </td>
            <td>
              Far
            </td>
            <td>
              Low
            </td>
          </tr>
          <tr class="yib">
            <td>Yoshi's Island (Brawl)</td>
            <td>
              Smallest
            </td>
            <td>
              Shorter
            </td>
            <td>
              Closer
            </td>
            <td>
              Low
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>