<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-title">Stage Comparison</h1>
    </div>
  </div>
  <ul class="row nav nav-justified nav-pills">
    <li class="col-lg-4 nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="graph">Graph</a>
    </li>
    <li class="col-lg-4 nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="summary">Text Summary</a>
    </li>
    <li class="col-lg-4 nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="numbers">Numbers</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>