<div class="container ssbu-module">
  <h1 class="page-title">Stage Comparison</h1>

  <section>
    <p>This tool compares the sizes of stages you choose for tournament play. You can use it to think about:</p>
    
    <ul>
      <li>What stages generally favor your character or a potential opponent's character.</li>
      <li>Which stages in a specific tourney favor your character or an opponent's character.</li>
      <li>If a new DLC stage could be legal, by comparing it to common legal stages.</li>
    </ul>
    
    <p>Select which stages you want to compare below.</p>

    <p><span class="badge badge-dark">Note</span> Not all stages are available. See <a [routerLink]="'.'" [fragment]="'limits'">Limitations</a> below for details.</p>
  </section>

  <ssbu-stage-select [stages]="stageClassifications" [parentEvent$]="selectSubject$.asObservable()" (submitSelection)="getStats($event)"></ssbu-stage-select>
  <div class="card">
    <div class="card-header">
      <h2><a name="dimensions">Stage Dimensions</a></h2>
    </div>
    <div class="card-body">
      <div class="form-group">
        <div class="dimension-control-container">
          <label for="dimensionControl"><h3>Dimension</h3></label>
          <select id="dimensionControl" name="dimensionControl" class="custom-select dimension-control" #dimensionControl (change)="setDimension(dimensionControl.value)">
            <option value="blastzoneWidth" selected>
              Blastzone Width
            </option>
            <option value="stageLength">
              Floor Length
            </option>
            <option value="offStageDistance">
              Off-Stage Distance
            </option>
            <option value="ceilingHeight">
              Ceiling Height
            </option>
          </select>
        </div>
        <label for="viewControl"><h3>Format</h3></label>
        <select id="viewControl" name="viewControl" class="custom-select view-control" #viewControl (change)="setView(viewControl.value)">
          <option value="graph" selected>
            Graph
          </option>
          <option value="text">
            Text Table
          </option>
          <option value="number">
            Number Table
          </option>
        </select>
      </div>
      <ng-container *ngIf="view == 'graph'">
        <ssbu-stage-comparator-graph [stageData]="binnedStageDimensionsSet" [dimension]="selectedDimension"></ssbu-stage-comparator-graph>
      </ng-container>
      <ng-container *ngIf="view == 'text'">
        <ssbu-stage-comparator-text-table [stageData]="binnedStageDimensionsSet" [dimension]="selectedDimension"></ssbu-stage-comparator-text-table>
      </ng-container>
      <ng-container *ngIf="view == 'number'">
        <ssbu-stage-comparator-number-table [stageData]="binnedStageDimensionsSet" [dimension]="selectedDimension"></ssbu-stage-comparator-number-table>
      </ng-container>
    </div>
  </div>
  <div role="region" aria-labelledby="notes-header" class="card">
    <div class="card-header">
      <h2 id="notes-header"><a name="notes">Notes</a></h2>
    </div>
    <div class="card-body">
      <h3>Definitions</h3>

      <p><strong>Blastzone width:</strong> The horizontal distance between the left and right blastzones</p>
      <p><strong>Floor length:</strong> The horizontal distance between the main platform's left and right ledges</p>
      <p><strong>Off-stage distance:</strong> The average horizontal distance between the ledge and the blastzone</p>
      <p><strong>Ceiling height:</strong> The vertical distance between the top blastzone and the average height of the ledges</p>
      <p><strong>Commonly / Rarely legal:</strong> How frequently a stage appeared in <a href="https://www.redbull.com/us-en/pgru-fall-2019" target="_blank">PGRU</a> S-tier and A-tier tournaments during the Fall 2019 and Spring 2020 seasons</p>
      <p><strong>Formerly legal:</strong> Refers to a stage that appeared in a PGRU S-tier or A-tier tournament before the Fall 2019 season.</p>
      <p><strong>Potentially legal:</strong> Refers to a stage released after the Spring 2020 season that may appear in a future PGRU S-tier or A-tier tournament.</p>
      <p>All number values are rounded to the nearest integer.</p>

      <h3><a name="limits">Limitations</a></h3>

      <p>Not all stages could be represented, due to how this site's code interprets stage data. Example skipped stages include:</p>

      <ul>
        <li>Stages with multiple major stage pieces (e.g. New Pork City, Palutena's Temple)</li>
        <li>Traveling and transforming stages with multiple forms (e.g. Delfino Plaza, Brinstar Depths)</li>
        <li>Run-off stages with no defined ledges (e.g. Boxing Ring, Paper Mario)</li>
      </ul>

      <p>More stages will be added in the future.</p>
    </div>
  </div>
</div>