/* Stage Select */
ssbu-stage-select .classification,
ssbu-stage-select .shortcuts {
  padding-top: 1rem;
}

ssbu-stage-select .classification {
  border-bottom: 1px dotted lightgrey;
}

ssbu-stage-select form > .form-group {
  margin-bottom: 1.5rem;
}

/* Stages */
.table-responsive .th-sticky.name,
.table-responsive .abbr {
  padding-right: 0;
}

.table-responsive .abbr {
  display: none;
}

.table-responsive .td-graph {
  background-image: repeating-linear-gradient(to right,
      transparent,
      hsla(0, 0%, 0%, 50%) 1px,
      transparent 0px,
      transparent 20px);
  background-position-x: 1rem;
  box-shadow: inset 1rem 0 white, -.75rem 0 white;
}

.table-hover tr:hover .td-graph {
  box-shadow: inset 1rem 0 hsl(0, 0%, 93%), -.75rem 0 hsl(0, 0%, 93%);
}

.table-responsive .td-graph .bar {
  float: left;
  margin: 1.125rem 0;
  height: .75rem;
}

ssbu-stage-comparator-text-table .stats th,
ssbu-stage-comparator-text-table .stats td,
ssbu-stage-comparator-number-table .stats th,
ssbu-stage-comparator-number-table .stats td {
  font-style: italic;
}

.table-responsive .bin-1 {
  background-color: hsl(188, 55%, 80%);
}

.table-responsive .bin-2 {
  background-color: hsl(188, 45%, 60%);
}

.table-responsive .bin-3 {
  background-color: hsl(188, 65%, 40%);
}

.table-responsive .bin-4 {
  background-color: hsl(188, 55%, 25%);
}

.table-responsive .bin-5 {
  background-color: hsl(188, 55%, 0%);
}

@media (min-width: 992px) {
  .table-responsive .abbr {
    display: table-cell;
  }
}
