/* Fonts */

/* Roboto Regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Regular'),
    local('Roboto-Regular'),
    url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
}

/* Roboto Italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'),
    local('Roboto-Italic'),
    url('../fonts/Roboto-Italic-webfont.eot');
  src: url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Italic-webfont.woff') format('woff'),
    url('../fonts/Roboto-Italic-webfont.ttf') format('truetype');
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'),
    local('Roboto-Bold'),
    url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
    url('../fonts/Roboto-Bold-webfont.ttf') format('truetype');
}

/* Roboto Bold Italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold Italic'),
    local('Roboto-BoldItalic'),
    url('../fonts/Roboto-BoldItalic-webfont.eot');
  src: url('../fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
    url('../fonts/Roboto-BoldItalic-webfont.ttf') format('truetype');
}

/* Roboto Black */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'),
    local('Roboto-Black'),
    url('../fonts/Roboto-Black-webfont.eot');
  src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Black-webfont.woff') format('woff'),
    url('../fonts/Roboto-Black-webfont.ttf') format('truetype');
}

/* Roboto Black Italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black Italic'),
    local('Roboto-BlackItalic'),
    url('../fonts/Roboto-BlackItalic-webfont.eot');
  src: url('../fonts/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-BlackItalic-webfont.woff') format('woff'),
    url('../fonts/Roboto-BlackItalic-webfont.ttf') format('truetype');
}

/* Globals */

* {
  font-family: 'Roboto', sans-serif;
}

:focus,
button:focus,
.btn:focus {
  outline-style: solid;
  outline-width: 3px;
}

:hover:focus,
button:hover:focus,
.btn:hover:focus {
  outline: 0;
}

:focus {
  outline-color: hsl(218, 100%, 50%);
}

body {
  background: url('../media/img/bg.png') repeat top left/auto;
  background-image: url('../media/img/bg.png');
  background-color: black;
}

hr {
  border-top: 1px dotted hsl(0, 0%, 60%);
  margin-left: .1rem;
  margin-right: .1rem;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h4,
h5 {
  font-weight: 700;
}

h1 {
  padding: 1rem 0;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 2px;
}

h2 {
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1;
  background-color: hsl(277, 40%, 50%);
  color: white;
}

noscript h2 {
  padding: 0;
  line-height: 3;
  background-color: transparent;
  color: black;
}

h3 {
  font-size: 1.25rem;
  line-height: 3;
}

h4 {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: hsl(218, 100%, 50%);
}

a:hover {
  color: hsl(24, 100%, 50%);
}

a:visited {
  color: hsl(277, 85%, 60%);
}

li {
  line-height: 2;
}

/* Navigation */

.navbar {
  padding: 0;
}

.brand {
  min-height: 3rem;
}

.navbar-desktop {
  display: none;
  visibility: hidden;
}

.aria-skip-link:not(:focus) {
  position: absolute;
  left: -999px;
  top: -999px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.aria-skip-link {
  margin-top: 1rem;
  padding: 0;
}

a.aria-skip-link,
.footer a {
  color: hsl(218, 100%, 75%);
}

a.aria-skip-link:hover,
.footer a:hover {
  color: hsl(50, 100%, 50%);
}

a.aria-skip-link:visited,
.footer a:visited {
  color: hsl(277, 85%, 65%);
}

.navbar-mobile {
  border-bottom: .5rem solid hsl(0, 91%, 48%);
}

.navbar-brand {
  font-weight: 900;
  letter-spacing: 1px;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:visited,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:visited,
.footer .footer-brand,
.footer .footer-brand:hover,
.footer .footer-brand:focus,
.footer .footer-brand:visited {
  color: white;
}

.navbar-dark :focus,
.footer :focus {
  outline-color: hsl(50, 100%, 50%);
}

.nav-container {
  width: 100%;
  min-height: .5rem;
  background-color: hsl(0, 91%, 48%);
}

.navbar-desktop .navbar-nav {
  padding: 0 3rem;
}

.navbar-mobile .navbar-brand {
  width: 50%;
  margin: 0;
  white-space: normal;
}

.navbar-mobile .navbar-nav {
  text-align: center;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-dark .navbar-toggler:focus {
  outline-style: solid;
  outline-width: 4px;
}

.navbar-dark .navbar-toggler:hover:focus {
  outline: 0;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item {
  list-style: none;
}

.navbar-nav .nav-link {
  height: 3rem;
  padding: 1rem;
  line-height: 1;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-item:hover .nav-link {
  color: white;
}

.nav-link:hover {
  background-color: hsl(50, 100%, 50%);
}

.navbar-dark .navbar-nav .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover {
  letter-spacing: 1px;
  text-shadow:
    /* base */
    -1px -1px 1px black,
    0px 0px 1px black,
    1px 1px 1px black,

    /* right offset */
    1px -1px 1px black,
    2px 0px 1px black,
    3px 1px 1px black,

    /* bottom offset */
    -1px 1px 1px black,
    0px 2px 1px black,
    1px 3px 1px black,

    /* round out the corners */
    3px 3px 1px black;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  .brand {
    min-height: 5rem;
  }

  .navbar-desktop {
    display: block;
    visibility: visible;
  }

  .navbar-mobile {
    display: none !important;
    visibility: hidden;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar-brand {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

/* Page Content */

#main {
  background-color: white;
  min-height: 10rem;
}

.ssbu-module {
  padding-bottom: 1rem;
}

.page-title {
  color: white;
  text-shadow:
    /* base */
    -2px -2px 0px black,
    -1px -1px 1px black,
    0px 0px 1px black,
    1px 1px 1px black,
    2px 2px 1px black,
    3px 3px 0px black,

    /* right offset */
    0px -2px 0px black,
    1px -1px 1px black,
    2px 0px 1px black,
    3px 1px 1px black,
    4px 2px 0px black,

    /* right offset - correction */
    1px -2px 0px black,
    2px -1px 1px black,
    3px 0px 1px black,
    4px 1px 1px black,
    5px 2px 0px black,

    /* bottom offset */
    -2px 0px 0px black,
    -1px 1px 1px black,
    0px 2px 1px black,
    1px 3px 1px black,
    2px 4px 0px black,

    /* round out the corners */
    -2px -1px 1px black,
    5px 4px 0px black
}

.ssbu-module > section {
  margin-bottom: 2rem;
}

/* Content */

/* Content - Alerts */
.alert {
  margin-top: 1rem;
  margin-bottom: 0;
}

/* Content - Navs */
.row.nav-pills {
  margin-bottom: 1rem;
}

.row.nav-pills .nav-item {
  margin-bottom: 1rem;
}

.nav-pills .nav-link {
  width: 100%;
  min-height: 2.5rem;
  padding: .75rem;
  border-width: 0;
  border-radius: 6px;
  text-align: center;
  line-height: 1;
  font-weight: 900;
  background-color: hsl(196, 12%, 75%);
  color: hsl(196, 12%, 10%);
  cursor: pointer;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover {
  background-color: hsl(50, 100%, 50%);
  color: white;
  border: none;
  box-shadow:
    /* base */
    -2px -2px 1px hsl(196, 12%, 10%),
    -1px -1px 1px hsl(196, 12%, 10%),
    0px 0px 1px hsl(196, 12%, 10%),
    1px 1px 1px hsl(196, 12%, 10%),
    2px 2px 1px hsl(196, 12%, 10%),
    3px 3px 1px hsl(196, 12%, 10%),
    
    /* right offset */
    0px -2px 1px hsl(196, 12%, 10%),
    1px -1px 1px hsl(196, 12%, 10%),
    2px 0px 1px hsl(196, 12%, 10%),
    3px 1px 1px hsl(196, 12%, 10%),
    4px 2px 1px hsl(196, 12%, 10%),

    /* right offset - correction */
    1px -2px 1px hsl(196, 12%, 10%),
    2px -1px 1px hsl(196, 12%, 10%),
    3px 0px 1px hsl(196, 12%, 10%),
    4px 1px 1px hsl(196, 12%, 10%),

    /* bottom offset */
    -2px 0px 1px hsl(196, 12%, 10%),
    -1px 1px 1px hsl(196, 12%, 10%),
    0px 2px 1px hsl(196, 12%, 10%),
    1px 3px 1px hsl(196, 12%, 10%),
    2px 4px 1px hsl(196, 12%, 10%);
}

.nav-pills .nav-link:hover {
  /*background-color: hsl(196, 12%, 17%);
  color: white;*/
  background-color: hsl(50, 100%, 50%);
  color: hsl(196, 12%, 10%);
}

.nav-pills .nav-link:focus {
  outline-offset: 2px;
  outline-color: hsl(196, 12%, 10%);
}

.nav-pills .nav-link.active:focus {
  outline-offset: 6px;
}

/* Content - Buttons */
.btn {
  border-radius: 6px;
  transition: none;
}

.btn-primary,
.btn-secondary {
  min-height: 2.5rem;
  padding: .75rem 1rem;
  line-height: 1.25;
  font-weight: 900;
  color: white;
}

.btn-primary:focus,
.btn-secondary:focus {
  box-shadow: none;
  outline-offset: 2px;
  outline-color: hsl(196, 12%, 10%);
}

.btn-primary {
  background-color: hsl(122, 83%, 29%);
  transition: none;
}

.btn-primary:not(:disabled):not(.disabled):hover {
  box-shadow: none;
  background-color: hsl(50, 100%, 50%);
  color: hsl(196, 12%, 10%);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  border: none;
  box-shadow: none;
}

.btn-primary:disabled,
.btn-primary.disabled,
.btn-primary:disabled:hover,
.btn-primary.disabled:hover {
  background-color: hsl(196, 12%, 75%);
  color: white;
}

.btn-secondary {
  margin: .5rem 1rem .5rem 0;
  border: none;
  background-color: hsl(218, 12%, 40%);
}

.btn-secondary:not(:disabled):not(.disabled):hover {
  box-shadow: none;
  background-color: hsl(50, 100%, 50%);
  color: hsl(196, 12%, 10%);
}

.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

/* Content - Forms */
.custom-select {
  margin-bottom: 1rem;
}

.custom-select,
.custom-select:hover,
.custom-select:focus {
  border: 1px solid hsl(196, 12%, 40%);
}

.custom-select:focus {
  box-shadow: none;
  outline-width: 3px;
  outline-offset: 2px;
  outline-style: solid;
  outline-color: hsl(196, 12%, 10%);
}

label h3 {
  margin-bottom: 0;
}

/* Content - Tables */
.table th {
  padding: 1rem;
}

.table .thead-dark th {
  background-color: hsl(218, 75%, 50%);
  border: 0;
}

.table-responsive {
  border: 0;
  position: relative;
}

.table-responsive thead th {
  padding: 1rem;
  text-align: left;
  vertical-align: middle;
}

.table-responsive .th-sticky {
  position: sticky;
  left: 0;
  top: 0;
  padding: .25rem 1rem;
}

.table-responsive tbody th {
  font-weight: normal;
  vertical-align: middle;
}

.table-responsive td {
  padding: 0 1rem;
  vertical-align: middle;
}

.table-responsive tbody td,
.table-responsive tbody th {
  background-color: white;
}

.table-responsive tbody tr {
  height: 3.5rem;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: hsl(0, 0%, 93%);
}

/* Content - Cards */
.card {
  margin-bottom: 2rem;
  border: none;
  border-radius: 0;
  background-color: unset;
}

.card-header,
.card-header:first-child {
  border: none;
  padding: 0;
  background-color: transparent;
}

.card-header h2 {
  margin-bottom: 0;
  padding: 1rem;
  background-color: hsl(277, 40%, 50%);
  border: none;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.25;
  color: white;
}

.card-header .h3,
.card-header .h4 {
  margin-bottom: .25rem;
  padding: 1rem;
  background-color: hsl(196, 12%, 17%);
  line-height: 1.5;
  font-weight: bold;
  color: white;
}

.card-header .h3 {
  font-weight: 900;
}

.card-header .btn-link {
  width: 100%;
  border-radius: 6px;
  text-align: left;
  cursor: pointer;
  transition: none;
}

.card-header .btn-link,
.card-header .btn-link:hover,
.card-header .btn-link:focus {
  text-decoration: none;
}

.card-header .btn-link:hover {
  background-color: hsl(50, 100%, 50%);
  text-decoration: none;
  color: hsl(196, 12%, 10%);
}

.card-header .btn-link:focus {
  outline-offset: 2px;
  outline-color: hsl(196, 12%, 10%);
}

.card-header .collapse-icon {
  display: inline-block;
  width: 1rem;
}

.card-header .collapse-icon::before {
  content: "-";
}

.card-header .collapsed .collapse-icon::before {
  content: "+";
}

.card .card {
  margin-bottom: 0;
  border-radius: 0;
}

.card-body {
  padding: 1rem 1rem 0 1rem;
}

/* Content - Cards - Forms */
.card .row .form-inline {
  width: 100%;
  margin: 0 -1rem;
  padding: 0 1rem;
}

.card .form-inline .form-check {
  margin-bottom: 1rem;
  justify-content: flex-start;
}

.form-group > .card > .collapse > .card-body,
.form-group > .card > .collapsing > .card-body {
  padding: 0 1rem;
}

.footer {
  padding: 2rem 0;
  border-top: .5rem solid hsl(0, 91%, 48%);
  color: white;
}

.footer-brand {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.footer-brand:hover {
  text-decoration: none;
}

.footer > .container {
  padding-left: 2rem;
}
